[Unit]
Description=Enable PineTab2 experimental WiFi modules

[Service]
Type=oneshot
ExecStart=bash -c 'if ! [[ -f /etc/modules-load.d/bes2600.conf ]]; then echo "bes2600" >> /etc/modules-load.d/bes2600.conf; fi'
